.game {
    display: grid;
    place-items: center;
    /* height: 100vh; */
    /* Ensure the board takes up the full viewport height */
    /* grid-template-rows: 1fr 1fr 1fr; */

    grid-template-columns: repeat(2, 1fr);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5rem;
}

@media (max-width: 770px) {
    .game {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5rem;
    }
}

/* Use CSS Grid for board rows */
.board-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 7rem;
    height: 7rem;
    text-align: center;
    /* Use CSS Grid for squares */
    display: grid;
    place-items: center;
    /* Maintain the size without margin and border adjustments */
    width: 7rem;
    transition: background-color 0.3s;
    /* Add a smooth transition effect */
}

.square:hover {
    background-color: rgba(0, 255, 255, 0.3);
    cursor: pointer;
}

.square-winner {
    transition: background-color 0.5s;
    background-color: rgba(6, 247, 247, 0.6)
}

.status {
    text-align: left;
    margin-bottom: 10px;
}

.reset {
    text-align: center;
    margin: 1rem;
}

button {
    font: inherit;
}

/* Style reversed move history */
ol.reversed-ol {
    display: flex !important;
    flex-direction: column-reverse !important;
}

/* Adjust margin for the "Sort Moves" button */
.sort-moves {
    margin-left: 2.5rem;
}