.title {
    display: grid;
    place-items: center;
}

.game {
    display: grid;
    /* place-items: center; */
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5rem;
}

@media (max-width: 1200px) {
    .game {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5rem;
    }
}

.game-board {
    display: grid;
    place-items: center;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 7rem;
    height: 7rem;
    width: 7rem;
    text-align: center;
    display: grid;
    place-items: center;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: rgba(0, 255, 255, 0.3);
    cursor: pointer;
}

.square-winner {
    transition: background-color 0.5s;
    background-color: rgba(6, 247, 247, 0.6)
}

.game-status {
    text-align: left;
    margin-bottom: 10px;
}

.reset-button {
    text-align: center;
    margin: 1rem;
}

button {
    font: inherit;
}

.move-history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    /* Align content to the top */
    max-height: 25rem;
    /* Set a maximum height if needed, so it scrolls when it exceeds this height */
    overflow-y: auto;
    /* Add vertical scroll when content exceeds the container height */
    /* border: 1px solid #ccc; */
    /* Optional: Add a border for visual separation */
    padding: 1rem;
    /* Optional: Add padding for spacing */
}

@media (max-width: 1200px) {
    .move-history {
        margin-top: 2rem;
    }
}

.reversed-ol {
    display: flex !important;
    flex-direction: column-reverse !important;
}

.sort-moves {
    margin-left: 2.5rem;
}