* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 75px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  /* background-color: blue; */
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}

.square:hover {
  background-color: rgba(0, 255, 255, 0.3);
  cursor: pointer;
}

.square-winner {
  transition: background-color 0.5s;
  background-color: rgba(6, 247, 247, 0.6)
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.reset {
  margin: 1rem;
  margin-left: 0rem;
}

.parent button {
  font: inherit;
  /* This will inherit font properties */
}

ol.reversed-ol {
  /* transform: scaleX(-1); */
  display: flex !important;
  flex-direction: column-reverse !important;
}

.sort-moves {
  margin-left: 2rem;
}

/* .reversed-ol > li {
  transform: scaleX(-1);
} */